.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  .header {
    height: 120rpx;
    .flexRow;
    justify-content: center;
    .title {
      font-size: 50rpx;
      color: #333;
    }
  }
}
