{
  "extends": ["taro"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": [0]
  },
  "parser": "typescript-eslint-parser"
}
